
h1 {
	font-size: 25px;
}

h2 {
	font-size: 35px;
	text-decoration: underline;
}

header {
	color: #000000;
	margin-top: 25px;
    margin-bottom:0px;	
}

body {
  color: #FFF;
  font-family: Helvetica;
  text-align: center-left;
}

.personal, .about, .interest, .job, .profile{
	border: 5px solid rgba(255,255,255,0.4);
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
	background: #2980b9;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

a {
	color: blue;
	
}
